<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('root.static', filename='css/base.css') }}">
    {% block static_links %}
    {% endblock %}
  </head>

  <body>
    <div class="container-top">
      <nav class="navbar-top">
        <ul>
          <li>Current</li>
          <li>Application</li>
          <li>Path</li>
          {% block navbar_top %}
          {% endblock %}
        </ul>
      </nav>
    </div>

    <div class="container-bottom">
      <nav class="navbar-left">
        <ul>
          <li>
            <ul><strong>Services</strong>
              <li>Servers</li>
              <li>Parsers</li>
            </ul>
          </li>
          <li>
            <ul><strong>Applications</strong>
              <li>Chats</li>
              <li>Bookmarks</li>
              <li>Accounts</li>
            </ul>
          </li>
          <li>
            <ul><strong>Workspaces</strong>
              <li>Constructor</li>
            </ul>
          </li>
          {% block navbar_left %}
          {% endblock %}
        </ul>
      </nav>

      <div class="container">
        {% block body %}
        {% endblock %}
      </div>

      <nav class="navbar-right">
        <ul>
          <li>Option: 1</li>
          <li>Option: 2</li>
          <li>Option: 3</li>
          <li>
            <ul><strong>Inner Options</strong>
              <li>Option: 1</li>
              <li>Option: 2</li>
            </ul>
          </li>
          {% block navbar_rigth %}
          {% endblock %}
        </ul>
      </nav>
    </div>

    {% block static_scripts %}
    {% endblock %}
  </body>

</html>
